body {
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #222;
  background-color: #f5f5f5;
}

h1 {
  color: #1a56db;
  font-size: 40px;
}

h2 {
  color: #333;
}

h3 {
  color: #444;
}

.btn {
  padding: 10px 20px;
  background-color: #1a56db;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  border: #111;
}

.card {
  width: 180px;
  padding: 16px;
  margin: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

* {
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #111;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

#hero {
  text-align: center;
  padding: 6dvh 20px;
  background-color: #eef4ff;
}

#hero p {
  max-width: 600px;
  margin: 0 auto 20px;
}

section {
  padding: 50px 30px;
}

@media (min-width: 100px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.card {
  width: 200px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  flex: 1;
}

form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.grid-demo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px 60px 20px;
  gap: 10px;
}

@media (min-width: 850px) {
  .layout-demo {
    grid-template-columns: 250px;
  }
}
